body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0d0d; /* Fundo preto */
    color: #f9f9f9; /* Cor de texto levemente esbranquiçada */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #1a1a1a; /* Fundo do container preto-acinzentado */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 69, 0, 0.7); /* Sombra laranja escura */
  }
  
  h1 {
    color: #ff4500; /* Laranja queimado */
    font-size: 36px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px #000;
  }
  
  p {
    color: #f9f9f9;
    font-size: 18px;
    margin: 10px 0;
  }
  
  .number-display {
    margin: 20px 0;
  }
  
  #numero-gerado {
    font-size: 48px;
    font-weight: bold;
    color: #ff8c00; /* Cor do número laranja vibrante */
    text-shadow: 2px 2px 5px #000; /* Efeito de sombra */
  }
  
  .buttons {
    margin: 20px 0;
  }
  
  button {
    background-color: #ff4500; /* Laranja queimado */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(255, 69, 0, 0.7);
    transition: transform 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #ff8c00; /* Laranja mais brilhante no hover */
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
  }
  
  button:disabled {
    background-color: grey;
    cursor: not-allowed;
  }
  
  .result p {
    font-size: 20px;
    color: #ff6347; /* Tom de laranja mais suave para o resultado */
    text-shadow: 2px 2px 4px #000;
  }
  
  .final-buttons {
    margin-top: 20px;
  }
  
  #btn-recomecar, #btn-sair {
    background-color: #8b0000; /* Vermelho sangue para os botões finais */
  }
  
  #btn-recomecar:hover, #btn-sair:hover {
    background-color: #ff4500; /* Tom laranja queimado ao passar o mouse */
  }
  